@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
/* Generic styles for demo page */


* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    height: 85vh;
    background-color: #fafafa;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 25px;
}

.pets-container {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    position: relative;
    height: fit-content;
    padding: 1rem 1rem;
    width: 500px;
    margin-bottom: 2rem;
}




.pets-container>.title {
    position: absolute;
    width: fit-content;
    padding: .2rem 0.2rem;
    background-color: #fafafa;
    top: -18px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .search-input {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    padding: .5rem .7rem;
    outline: none;
    font-size: 16px;
    font-weight: medium;
}


/* selected pets style ------------- */

.wrapper .selected-pets {
    display: none;
    flex-wrap: wrap;
    row-gap: 6px;
    list-style-type: none;
    margin: 0 0 .5rem 0;
    background-color: white;
    padding: .5rem .7rem;
    border-radius: 6px;
    border: 1px solid rgb(200, 200, 200);
    max-height: 125px;
    overflow: auto;
}

.wrapper .selected-pets li {
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
    padding: .2rem .4rem .2rem .3rem;
    margin-right: 6px;
}

.wrapper .selected-pets li span {
    color: black !important;
}

.wrapper .selected-pets.active {
    display: flex;
}

.wrapper .selected-pets.hidden {
    display: none;
}

.wrapper .selected-pets li.highlight {
    background-color: rgb(117, 194, 117);
    color: white;
}

/* Dropdown container ------------ */
.dropdown {
    display: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    margin-top: 4px;
    background-color: white;
    padding: 4px;
}


.dropdown.active {
    display: block;
}

.dropdown.hidden {
    display: none;
}


/* //active & hidden */
.wrapper .pets-list-container {
    max-height: 185px;
    overflow: auto;
    list-style-type: none;
    margin-top: 4px;
    padding-left: 6px !important;
}

.wrapper .pets-list-container li {
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.wrapper .pets-list-container label {
    cursor: pointer;
}


/* dropdown details -------- */
.dropdown-details {
    padding: 0.5rem .5rem 0rem .5rem;
}

.dropdown-details p {
    padding: 0;
    margin: 0;
    padding-bottom: .5rem;
}

/* buttons */
.btns {
    display: flex;
    gap: 10px;
}

.btns label {
    background: rgb(232, 232, 232);
    padding: 0.5rem 1rem;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.btns label:hover {
    background-color: rgb(216, 216, 216);
}


li input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(200, 200, 200);
    margin-right: 8px;
    accent-color: rgb(41, 107, 200);
}

/* input[type="text"] {
    border: 0;
    outline: none;
    font-size: 16px;
} */


.btns-container {
    display: flex;
    position: absolute;
    top: -12px;
    right: 20px;
}

.all-btn {
    background-color: #fafafa;
    padding: 0 .2rem;
    font-size: 20px;
    margin-top: -4px;
    margin-right: 16px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.all-btn input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}


.icons i {
    border: 0;
    outline: none;
    z-index: 100;
    background-color: #fafafa;
    padding: 0 .2rem;
    margin-right: 28px;
    cursor: pointer;
    font-size: 22px;
    position: relative;
}


/* Tooltip for every icons ---------->  */
.save span,
.info span,
.cancel span,
.delete span,
.edit span {
    visibility: hidden;
    background-color: rgb(234, 234, 234);
    color: rgb(99, 99, 99);
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    font-size: 14px;

    /* Position the tooltip */
    position: absolute;
    top: -28px;
    left: -10px;
    z-index: 1;
}

.save:hover span,
.info:hover span,
.cancel:hover span,
.delete:hover span,
.edit:hover span {
    visibility: visible;
}



/* Custom styles ------------- >  */
.fa-trash.delete,
.fa-times.cancel {
    color: rgb(243, 65, 65);
}


.save,
.edit {
    color: rgb(30, 142, 198);
}

.fa-info-circle.info {
    position: relative;
    color: rgb(138, 138, 138);
}


.delete,
.edit {
    font-size: 20px;
    margin-right: 14px;
}

.confirm-message {
    display: none;
    width: 200px;
    z-index: 9999;
    background-color: white;
    position: absolute;
    border-radius: 8px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}


.confirm-message p {
    margin: 0;
}

.confirm-message div {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: end;
}

.deleteBtn {
    padding: .3rem .5rem;
    background-color: rgb(243, 65, 65);
    color: white;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer
}

.cancelBtn {
    padding: .3rem .5rem;
    background-color: rgb(234, 234, 234);
    color: black;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Responsiveness for screen less than 576px */

@media screen and (max-width: 576px) {
    .pets-container {
        width: 95%;
        padding: 1rem 1rem;
        position: relative;
    }

    .pets-container>.title {
        left: 12px;
        top: -15px;
        font-size: 15px;
    }

    .icons i {
        margin-right: 20px;
    }

    .icons i:last-child {
        margin: 0;
    }

    .btns label {
        font-size: 14px;
    }

}

@media screen and (max-width: 300px) {

    .pets-container>.title {
        left: 0px;
        top: -38px;
        font-size: 15px;
    }
}

ul.social-share {
    /* Remove default list styles */
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 3rem;
  
    /* Make the list items display horizontally */
    display: flex;
  }
  
  ul.social-share li {
    /* Add some spacing between the list items (optional) */
    margin-right: 10px;
  }

  .fa-whatsapp{
    color: green;
  }
  .fa-viber{
    color: purple;
  }
  .fa-google{
    color: black;
  }